# Файлы конфигурации
.env
.env.example
.env.backup

# Кеш, временные файлы
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key

/storage/*
!storage/app/public
/bootstrap/cache

# Логи и временные файлы
*.log
*.cache

# Файлы IDE и ОС
*.DS_Store
*.idea/
*.vscode/

#дополнительные файлы что были по умолчанию
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#мой файл
text.txt
